<div class="search">
	<div style="width:50%;margin-top:80px;">
			<pre><a id="link" target="_blank" href="https://github.com/flrngel/ShortenURL"><span id="urlprint" style="font-size:15pt;">FLX.KR Shorten URL</span></a></pre>
	</div>
	<div class="wrapper">
		<input id="url" type="text" style="border:0px;font-weight:bold;" class="searchbox" autofocus/>
	</div>
	<div class="row-fluid" style="text-align:center;margin-top:15px;">
		<input type="radio" id="expire_radio" name="expire_radio" checked/> Permanent&nbsp;&nbsp;
		<input type="radio" id="expire_radio2" name="expire_radio"/> Expire : <input type="text" id="expire" name="expire" style="width:50px" value="3600"/>
	</div>
	<div class="row-fluid" style="text-align:center;margin-top:15px;">
		<button id="shortBtn" class="btn btn-primary btn-large">Short!</button>
	</div>
</div>
