// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {display:table;width:30%;margin:0 auto;}
.search .wrapper {border:5px solid rgb(70, 155, 213); margin-top:60px;}
.search .wrapper .searchbox {width:99%; font-size:16pt;color:rgb(60, 60, 60); outline:none; margin: 0 auto;}
